@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');


.Bfooter{
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    margin-top: 0.5rem;
    padding: 2px;
    background-color: #ffc200;
    bottom: 0;
    left: 0;
    z-index:99;
    line-height: none;
  }